:root{
  --vermelho: #e50914;
  --preta: #141414;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*elementos base*/
body {
  background: var(--preta);
  font-family: 'Times New Roman', Times, serif;
  color: white;
}

header .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

header .logo{
  margin-left: 5px;
  color: var(--vermelho);
  font-family: Arial Black;
  font-size: 40px;
  cursor: pointer;
  transition: .3s ease all;
}

header nav a{
  text-decoration: none;
  color: #aaaaaa;
  margin-right: 10px;

}

header nav a:hover{
  color: #ffffff;
}

/*filme principal*/

.filme-principal {
  font-size: 16px;

  background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url('../img/fundo3.png');
  height: 400px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.filme-principal .descricao{
  margin-top: 60px;
  margin-bottom: 40px;
}

.titulo{
  margin-top: 15%;
  margin-bottom: 40px;
  font-size: 40px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  
}

.botao{
  background-color: rgba(0, 0, 0, .50);
  border: none;
  color: white;
  text-decoration: none;

  padding: 15px 30px;
  margin-right: 15px;
  font-size: 12px;

  cursor: pointer;
  transition: .3s ease all;
  font-weight: 600;
}

.botao:hover{
  background-color: white;
  color: black;
}
.botao i{
  margin-right: 5px;
  text-decoration: none;
}


.container{
  margin-left: 20px;
}

.filme-principal .container{
  width: 70%;
}

.box-filme{
  height: 100%;
  width: 100%;
  display: block;
  cursor: pointer;
  transition: .3s ease all;

}




#teste3{
  position:relative;top:0;padding:4px;background-color:rgb(0, 0, 0, rgba(0, 0, 0, .50));
    transition: all .2s ease-in-out}
#teste3:hover{
  top:-4px;box-shadow:0 4px 3px #999}